.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 1.8rem 0 0.8rem;
}

nav.sticky {
  position: sticky;
  top: 0;
  padding: 0.7rem 0;
  margin-bottom: 1.8rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 2rem;
}
